<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="../css/cadastro-produto.css">
    <title>Admin - PET IS LIFE</title>
</head>
<body>
    <%- include('../components/header') %>

    <main>
        <div>
            <% if(typeof error != 'undefined'){%>
            <h4><%= error %></h4>
            <% } %>
          </div>
        <form method="POST" action="/salvar-edicao-produto/<%=produto.id %>?_method=PUT" enctype="multipart/form-data">
            <label>Nome do produto:</label><br>
            <input class="inputs" type="text" name="name" value="<%=produto.name %>" />
            <br>
            
            <label>Pet:</label><br>
            <input class="inputs" type="text" name="pet">
            <br>
            
            <label>Preço:</label><br>
            <input class="inputs" type="text" name="preco" value="<%= produto.preco %> " />
            <br>

            <label>Descrição</label><br>
            <input class="inputs" type="text" name="description" value="<%= produto.description %> "/>
            <br>

            <label>Imagem do produto:</label><br>
            <input id="input-img" type="file" name="image" value="<%=produto.image%>" />
            <br>

            <button type="submit">Salvar edição</button>
        </form>
    </main>

    <%- include('../components/footer') %>
</body>
</html>