<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="../css/produtosAdmin.css">
    <title>Admin - PRODUTOS</title>
</head>
<body>
    <%- include('../components/header') %>
    <main>
        <div>
            <% if(typeof error != 'undefined'){%>
            <h4><%= error %></h4>
            <% } %>
          </div>
        
        <div>
            <a href="/admin/cadastro-produto">
                <button id="button-cadastro">Cadastrar Novo Produto</button>
            </a>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Produto</th>
                    <th>Preço</th>
                    <th>Descrição</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody> 
                <% produtos.forEach(produto => { %>
                <tr>
                    <td><%= produto.id %></td>
                    <td><%= produto.name %></td>
                    <td><%= produto.preco %></td>
                    <td><%= produto.description %></td>
                    <td>
                        <form
                            method="POST"
                            action="/deletar-produto/<%= produto.id %>?_method=DELETE"
                        >
                            <button id="button-delete" type="submit">Excluir</button>
                        </form>
                        <form action="/editar-produto/<%=produto.id%>" method="GET" enctype="multipart/form-data">
                            <button type="submit" id="button-edit">Editar</button>
                        </form>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </main>

    <%- include('../components/footer') %>
    <script src="/js/products.js"></script>
</body>
</html>