<div class="conteiner-cards">
    <% produtos.forEach(produto => {%> 
    <form action="/adicionarcarrinho" method="post"> 
            <div class="cards" name="produtoImg">
        <div class="cards">
             <form action="/produto/<%= produto.id %> " method="get">
            <img src="/img/produtos/<%=produto.image%>" class="imgProdutos" alt="<%= produto.name %>">
            <div> -->
                 <h2 class="tituloCard" name="produtoName"><%= produto.name%></h2>
                 <h5 class="precoCard" name="produtoCard">R$ 107,50</h5>
                <h3 class="precoReal" name="produtoPreco">R$ <%= produto.preco %></h3>
                <button class="btnCard">Comprar</button>
                <input type="hidden" name="name" value=<%= produto.name%>>
                <input type="hidden" name="preco" value=<%=produto.preco%>>
                <button type="submit" class="btnCard">Adicionar ao carrinho</button>
             </form>
            </form>
            </div>
        </div>
     <% }) %>
</div> 