<div class="conteiner-cards">
    <% produtos.forEach(produto => {%>

    <div class="cards">
        <form action="/produto/<%= produto.id %> " method="get">
            <img src="/img/produtos/<%=produto.image%>" name="image" class="imgProdutos" alt="<%= produto.name %>">
            <div>
                <h2 class="tituloCard" name="produtoName"><%= produto.name%></h2>
                <h5 class="precoCard" name="produtoCard">R$ 107,50</h5>
                <h3 class="precoReal" name="produtoPreco">R$ <%= produto.preco %></h3>
                <button class="btnCard">Comprar</button>
        </form>
        <form action="/adicionarcarrinho" method="post">
            <input type="hidden" name="name" value=<%= produto.name%>>
            <input type="hidden" name="preco" value=<%=produto.preco%>>
            <input type="hidden" name="cartimage" value="<%=produto.image%>">
            <button class="btnCard">Adicionar ao carrinho</button>
        </form>
        
    </div>
    <% }) %> 
    <script src="/js/filter.js"></script>
</div>