<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/produto.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

    <title>Produto interno | PET IS LIFE</title>
</head>

<body>
    <%- include('components/header') %>

    <main class="produto">
        <section class="produto-preco">        
            <img src="/img/produtos/<%=produto.image%>" alt=<%=produto.name%> >            
            <div class="preco">
                <h2><%=produto.name%></h2>
                <p>R$ <%=produto.preco%></p>
                <div class="lado-a-lado">
                    <button class="b-comprar">Comprar</button>
                    <button class="b-adicinar-produto">Adicionar ao carrinho</button>
                </div>
            </div>      
        </section>
        <section class="descricao-produto">      
            <h3>Descrição</h3>       
        </section>
    </main>

    <%- include('components/footer') %>
</body>

</html>